/* header.css */
/* Estilização do cabeçalho */
header {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--color-width);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Logo e link do cabeçalho */
.logo-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo-content .logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.logo-content a {
    font-size: 1.1rem;
    border: 1px solid var(--width-color);
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    color: var(--width-color);
    text-decoration: none;
    font-weight: 500;
}

/* Link de contato com WhatsApp */
.link-contact {
    margin-top: 1rem;
    background-color: var(--color-button-ct);
    padding: 0.3rem;
    border-radius: 8px;
    color: var(--width-color);
    transition: background 0.3s ease-in-out;
}

.link-contact:hover {
    background-color: #107a0a;
}

.link-contact ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.link-contact a,
.link-contact i {
    text-decoration: none;
    color: var(--color-width);
    font-size: 1rem;
    text-transform: uppercase;
}

/* Responsividade do cabeçalho */
@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        align-items: center;
    }
    .link-contact {
        margin: 0;
        width: 50%;
    }
}
